<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />



	<property name="APP_NAME" value="poker" />

	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- 按日分割日志 -->
	<appender name="ERROR_DAILYROLLING_FILEAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${APP_NAME}-error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${APP_NAME}-error-%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 按日分割日志 -->
	<appender name="INFO_DAILYROLLING_FILEAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${APP_NAME}-info.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${APP_NAME}-info-%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
	</appender>

	<logger name="com.netflix.discovery" level="OFF" additivity="false">
	</logger>

	<logger name="com.zztl.mcsports" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ERROR_DAILYROLLING_FILEAPPENDER" />
		<appender-ref ref="INFO_DAILYROLLING_FILEAPPENDER" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ERROR_DAILYROLLING_FILEAPPENDER" />
		<appender-ref ref="INFO_DAILYROLLING_FILEAPPENDER" />
	</root>

</configuration>